 <!-- BEGIN catrow -->
<b>{catrow.CAT_DESC}</b> <br>

  <!-- BEGIN forumrow -->
	  <a href="{catrow.forumrow.U_VIEWFORUM}" class="forumlink">{catrow.forumrow.FORUM_NAME}</a>:  {catrow.forumrow.FORUM_DESC}.  <em> ({catrow.forumrow.TOPICS}&nbsp;{L_TOPICS},&nbsp;{catrow.forumrow.POSTS}&nbsp;{L_POSTS}) </em>
  <br>
  <!-- END forumrow -->
<hr>
  <!-- END catrow -->
 <a href="{U_MARK_READ}" class="gensmall">{L_MARK_FORUMS_READ}</a> |

<!-- BEGIN switch_user_logged_in -->
<!-- END switch_user_logged_in -->
	 
<!-- BEGIN switch_user_logged_in -->
<a href="{U_SEARCH_NEW}" class="gensmall">{L_SEARCH_NEW}</a> | <a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a> | 
<!-- END switch_user_logged_in -->
<a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a> 
 <br>

<!-- BEGIN switch_user_logged_out -->
<hr>
<form method="post" action="{S_LOGIN_ACTION}">
 <a name="login"></a><b>{L_LOGIN_LOGOUT} </b>
<br>
  {L_USERNAME}: 
<input class="post" type="text" name="username" size="10" /> <br>
{L_PASSWORD}: 
<input class="post" type="password" name="password" size="10" maxlength="32" />  <br>
{L_AUTO_LOGIN} 
<input class="text" type="checkbox" name="autologin" />
<br>
<input type="submit" class="mainoption" name="login" value="{L_LOGIN}" />
<br>
</form>
<hr>
<!-- END switch_user_logged_out -->

