<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html dir="{S_CONTENT_DIRECTION}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={S_CONTENT_ENCODING}">
{META}
{NAV_LINKS}
<title>{SITENAME} :: {PAGE_TITLE}</title>
</head>
<body>
<a name="top"></a>
