  <br> 
<b>{TOPIC_TITLE}</b>  &nbsp;&nbsp;
  <b>{PAGINATION}</b><br /> 
<a href="{U_POST_NEW_TOPIC}">{L_POST_NEW_TOPIC}</a>&nbsp;&nbsp;&nbsp;<a href="{U_POST_REPLY_TOPIC}">{L_POST_REPLY_TOPIC}</a>
	&nbsp;&nbsp;&nbsp;<a href="{U_INDEX}" class="nav">
 <a href="{U_VIEW_FORUM}" class="nav">{FORUM_NAME}</a> <br>

{POLL_DISPLAY} 
	
	<!-- BEGIN postrow -->
<hr />
<b> {L_AUTHOR}: <a name="{postrow.U_POST_ID}"></a>{postrow.POSTER_NAME} <br>
{postrow.POST_SUBJECT} <br>
{postrow.POST_DATE}&nbsp;&nbsp; <br>
</b>
			
<br>
{postrow.MESSAGE}{postrow.SIGNATURE}{postrow.EDITED_MESSAGE}
	
<br> 
<a href="#top" class="nav">{L_BACK_TO_TOP}</a>
<br> 
<!-- END postrow -->
<hr>		
		
 <br> 
<a href="{U_POST_NEW_TOPIC}">{L_POST_NEW_TOPIC}</a>&nbsp;|&nbsp;
<a href="{U_POST_REPLY_TOPIC}">{L_POST_REPLY_TOPIC}</a> <br>
<a href="{U_VIEW_OLDER_TOPIC}" class="nav">{L_VIEW_PREVIOUS_TOPIC}</a> | <a href="{U_VIEW_NEWER_TOPIC}" class="nav">{L_VIEW_NEXT_TOPIC}</a> &nbsp;
{S_WATCH_TOPIC}<br />

<br><form method="post" action="{S_POST_DAYS_ACTION}">
<br> {L_DISPLAY_POSTS} <br> {S_SELECT_POST_DAYS}<br>
{S_SELECT_POST_ORDER}<br> 
<input type="submit" value="{L_GO}" class="liteoption" name="submit" />
</form>

  

  

