<b>{FORUM_NAME}</b>
<b>{PAGINATION}</b><br>

<!-- BEGIN topicrow -->
<a href="{topicrow.U_VIEW_TOPIC}">{topicrow.TOPIC_TITLE}</a></span> 
({topicrow.REPLIES} {L_REPLIES})
<br>
<!-- END topicrow -->

<!-- BEGIN switch_no_topics -->
{L_NO_TOPICS} <br>
<!-- END switch_no_topics -->
<br>
<hr>
<a href="{U_POST_NEW_TOPIC}">{L_POST_NEW_TOPIC}</a> | 
<a href="{U_MARK_READ}">{L_MARK_TOPICS_READ}</a> <br>
</form>




