html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 8px;
  padding: 0;
  position: relative;
}

abbr[title] {
  text-decoration: underline dotted #069;
}

/* Bigger textarea in "post" page */
textarea.post {
  width: 600px;
  height: 300px;
}

table.tblpost {
  width: 600px;
}

tr.rowbbcode input {
  text-indent: 0;
}

.mainmenu {
  display: inline-block;
  margin-bottom: 1px;
  margin-right: 2px;
}

/*
 * SP CHARS
 */

tr#spChars > td {
  padding-top: 8px;
}

tr#spChars > td > a {
  background-color: #EFEFEF;
  border: 1px solid #000;
  cursor: pointer;
  color: #000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  padding: 3px;
  text-decoration: none;
}

tr#spChars > td > a:hover {
  background-color: #D1D7DC;
}

tr#spChars > td > a:active {
  position: relative;
  top: 1px;
}

/*
 * ALT MARKUP
 */

tr#altMarkup > td.row1, td.row2 {
  vertical-align: top;
}

tr#altMarkup > td.row1 > a::before {
  content: url("images/icon_mini_faq.gif");
  margin-right: 2px;
}

tr#altMarkup > td.row2 > table {
  width: 600px;
}

tr#altMarkup > td.row2 td {
  text-align: center;
}

table.altMarkup_help {
  width: 100%;
  text-align: left;
  font-size: 0.75rem;
  border-collapse: collapse;
  border: 2px solid #D1D7DC;
  background-color: #EFEFEF;
}

table.altMarkup_help td {
  padding: 2px 4px;
  line-height: 1.4em;
  border: 1px solid #D1D7DC;
}

table.altMarkup_help td:empty {
  background: repeating-linear-gradient(
      315deg,
      #E9E9E9,
      #E9E9E9 5px,
      #EFEFEF 5px,
      #EFEFEF 10px
  );
}

table.altMarkup_help th {
  padding-left: 4px;
  border: 1px solid #D1D7DC;
}

div.links-footer {
  margin: 30px auto 10px auto;
  text-align: center;
  letter-spacing: -1px;
}

div.links-footer img {
  margin: 0 3px;
}

div.links-footer span {
  margin: 0 3px;
}

div.links-footer span a {
  text-decoration: none;
}

/*
 * MOD Inline Banner Ad
 */
td.inlineadtitle {
  background-color: #D1D7DC;
  border: #FFFFFF;
  border-style: solid;
  border-width: 1px;
}

td.inlinead {
  background-color: #D1D7DC;
  border: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  text-align: center;
}

/*
 * Tooltips
 */

a.tooltip {
  outline: none;
  position: relative;
  text-decoration: none;
  margin: 0 3px;
}

a.tooltip > div {
  display: none;
  border-radius: 7px;
  z-index: 10;
  position: absolute;
  left: -112px;
  bottom: 30px;
  width: 250px;
  text-align: center;
  line-height: 1rem;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  border: 2px solid #069;
  background: #EFEFEF;
}

a.tooltip > div > p:first-child {
  font-weight: bold;
  font-size: 0.75rem;
  color: #069;
}

a.tooltip > div > p:nth-child(1n+2) {
  font-size: 0.6875rem;
  color: #000;
  margin: 7px;
}

a.tooltip:hover > div {
  display: block;
}

/*
 * AddToAny
 */

div > div.a2a_kit {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

td > div.a2a_kit {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4px;
}

/*
 * Ads
 */

.ads {
  display: inline-block;
  padding: 1px 3px;
  font: normal normal bold 10px Verdana, Arial, sans-serif;
}

.ads-ad {
  border: 1px solid #000000;
  font-variant: small-caps;
  color: #FFFFFF;
  background: #069;
}

.ads-ad:hover {
  color: rgba(255, 163, 79, 1);
  transition: all 750ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.ads-link {
  text-decoration: none;
  color: rgba(0, 102, 153, 1);
}

/*
 * Adblock
 */

.adblock {
  padding: 5px;
  border: 1px solid;
  border-radius: 10px;
  font: normal 11px Verdana, Arial, sans-serif;
  color: #FFFFFF;
  background: #006699;
}

.adblock a {
  color: #FFA34F;
}

/*
 * Buttons
 */

input.button1 {
  display: inline-block;
  text-indent: 0;
  cursor: pointer;
  padding: 3px;
  margin: 0;
  border: 1px solid #018dc4;
  border-radius: 3px;
  color: #006699;
  text-overflow: clip;
  background: #FFFFFF;
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

input.button1:hover {
  background: #EFEFEF;
}

/*****************************************************************************/

.center {
  text-align: center;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoBox {
  position: fixed;
  z-index: 100;
  border: 2px solid #000;
  margin: 0 auto 15px;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #FFF484;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none !important;
}

.info::before {
  content: url("../../images/smiles/icon__info.gif");
  margin-right: 5px;
}

.warn::before {
  content: url("../../images/smiles/icon__avertissement.gif");
  margin-right: 5px;
}

kbd {
  color: #060;
  font-weight: bold;
}

.box {
  text-align: center;
  background-color: #FAFAFA;
  margin: 20px 0;
  padding: 10px;
  clear: both;
}

#cochon {
  background-image: url("http://www.icone-png.com/png/47/47078.png");
  width: 64px;
  height: 64px;
  float: right;
  position: relative;
  right: 5px;
  top: 20px;
}

#cochon:hover {
  background-image: url("images/cochon.png");
  width: 70px;
  height: 64px;
}
