 
<table class="forumline" style="background-color: red;" width="100%" cellspacing="1" cellpadding="4" border="0">
	<tr> 
		<td><table width="100%" cellspacing="0" cellpadding="1" border="0">
			<tr> 
				<td>&nbsp;</td>
			</tr>
			<tr> 
				<td align="center"><strong class="gen" style="color: yellow;">{ERROR_MESSAGE}</strong></td>
			</tr>
			<tr> 
				<td>&nbsp;</td>
			</tr>
		</table></td>
	</tr>
</table>

<br clear="all" />
