<a name="pagetop"></a>
<span class="nav"><a href="{U_INDEX}" class="nav">{L_INDEX}</a></span>
<!--{modules.MODULE_NAME} can be put somewhere to-->
<!-- BEGIN modules -->
<a name="{modules.MODULE_ID}"></a>
<br />
<!-- --cached: {modules.CACHED}<br /> --reloaded: {modules.RELOADED}<br /> -->
<!-- BEGIN switch_display_timestats -->
<table border="0" cellpadding="0" cellspacing="0" class="forumline" width="100%"> 
<tr> 
	<td class="row2" align="center"><span class="gensmall">{LAST_UPDATE_TIME} {modules.LAST_UPDATE_TIME}</span></td>
	<td class="row2" align="center"><span class="gensmall">{NEXT_EXPECTED_UPDATE} {modules.NEXT_GUESSED_UPDATE_TIME}</span></td>
</tr> 
</table>
<!-- END switch_display_timestats -->
{modules.CURRENT_MODULE}
<!-- END modules -->

<br />
<center><span class="copyright">{L_STATISTICS_VERSION} {SMILE} {VERSIONDATE}
<br />{INSTALLED} | {VIEWED}
<!-- BEGIN switch_debug -->
<br /><br /><br />{L_STATISTICSMOD} - [{L_TIME}: {TIME} | sql {L_TIME}: {SQL_TIME} | {L_QUERIES}: {QUERY} | <a href="{U_EXPLAIN}" target="_blank">{L_EXPLAIN}</a>]
<!-- END switch_debug -->
</span></center>